<h2>Listing Jobs</h2>
<br>
{% if jobs %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Place of work</th>
			<th>Start date</th>
			<th>Type of contract</th>
			<th>Activity rate</th>
			<th>Reference</th>
			<th>Open</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{% for job in jobs if job.open == 1 %}			
		<tr>
			<td>{{ job.title }}</td>
			<td>{{ job.place_of_work }}</td>
			<td>{{ job.start_date }}</td>
			<td>{{ job.type_of_contract }}</td>
			<td>{{ job.activity_rate }}</td>
			<td>{{ job.reference }}</td>
			<td>
				{{ html_anchor('job/view/' ~ job.id ~ '', 'View') }}
			</td>
		</tr>
{% endfor %}	
	</tbody>
</table>

{% else %}
	<p>No jobs.</p>
{% endif %}