<h2>Reset password</h2>
<p>Please insert your email address in the form below and we'll send you a new password</p>
<div class="row">
	{{ form_open() }}
	<div class="col-md-3">
		<div class="form-group">
			{{ form_label('Email:', 'email') }}
			{{ form_input('email', input_post('email'), {'class':'form-control', 'placeholder':'Email or Username', 'autofocus':'autofocus'}) }}
		</div>
		<div class="actions">
			{{ form_submit('submit', 'Send', {'class':'btn btn-lg btn-primary btn-block'}) }}
		</div>
	</div>
	{{ form_close() }}
</div>
<hr>
<p>
	{{ html_anchor('' ~ actions.back.url ~ '','' ~ actions.back.label ~ '',{'class':'btn btn-primary'}) }}
</p>
