<h2>{{ job.title }}</h2>
<p>
	{{ job.intro }}</p>
<p>
	<h3>Overview:</h3>
	{{ job.overview }}</p>
<p>
	<h3>Main tasks:</h3>
	{{ job.main_tasks }}</p>
<p>
	<h3>Profile:</h3>
	{{ job.profile }}</p>
<p>
	<h3>We offer:</h3>
	{{ job.we_offer }}</p>
<p>
	<h3>Place of work:</h3>
	{{ job.t_city.name }}, {{ job.t_city.t_country.name }}</p>
<p>
	<h3>Start date:</h3>
	{{ job.start_date }}</p>
<p>
	<h3>Type of contract:</h3>
	{{ job.type_of_contract }}</p>
<p>
	<h3>Activity rate:</h3>
	{{ job.activity_rate }}</p>
<p>
	{% if job.reference %}
	<h3>Reference:</h3>
	{{ job.reference }}</p>
	{% endif %}
<p>
	<h3>More info:</h3>
	{{ job.more_info }}</p>
<p>
	{% if auth %}  
	{{ html_anchor('admin/job/edit/' ~ job.id ~ '', 'Edit') }} |
	{% endif %}
	{{ html_anchor('' ~ actions.back.url ~ '','' ~ actions.back.label ~ '') }}
</p>