<div class="row">
	{{ form_open() }}
	<div class="col-md-3">
		<div class="form-group">
			{{ form_label('Name', 'name', {'class':'control-label'}) }}
			{{ form_input('name', input_post('name', country ? country.name : ''), {'class':'form-control', 'placeholder':'Name'}) }}
		</div>
		<div class="form-group">
			<label class='control-label'>&nbsp;</label>
			{{ form_submit('submit', 'Save', {'class':'form-control btn btn-primary'}) }}
		</div>
	</div>
	{{ form_close() }}
</div>